.listing h2.offer-error {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.location-filter .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding-right: 35px;
}

.location-filter input[type=text] {
    border: none;
}

.date-range-filter .react-google-flight-datepicker .date-picker {
    padding: 0px;
}

.date-range-filter .react-google-flight-datepicker .date-picker-input {
    height: 67px;
}

.offer-type-filter .MuiInput-root {
    height: 43px;
}

.button a {
    color: #fff;
}

.button:hover a, .button a:hover {
    color: #000;
  }