//footer starts here
.footer{
	margin-left: 35px;
	background: $custome-black;
	@include break-point(991px){
		margin-left: 0;
	}
	.footer-main{
		padding:30px 40px;
		background: #141414;
	}	
	.footer__logos{
		display: flex;
		margin-bottom: 40px;
		@include break-point(991px){
			display: none;
		}
	}
	.main-logo{
		padding-right: 20px;
	}	
	.logos-group{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		border-left: #fff solid 1px;
		a{
			width: 12.5%;
			text-align: center;
		}
	}
	.footer__link{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 15px;
		a{
			padding: 0 7px;
			font-size: 11px;
			color: #6c6f73;
		}
		.devider{
			font-size: 12px;
			color: #6c6f73;
		}
	}
	.footer__legal{
		text-align: center;
		padding: 30px 30px 20px;
		p{
			color: #6c6f73;
			font-size: 11px; 
		}
		a{
			color: #6c6f73;
			font-size: 11px; 
		}
	}
	.icons-social{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 40px;
		.fa{
			height: 31px;
			width: 31px;
			color: #f1f1f1;
			border: #f1f1f1 solid 2px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 6px;
			border-radius: 50%;
			font-size: 15px;
			&:hover{
				text-decoration: none;
			}
			&.fa-facebook{
				&:hover{
					background: #3b5998;
				}
			}
			&.fa-twitter{
				&:hover{
					background: #55acee;
				}
			}
			&.fa-youtube{
				&:hover{
					background: #bb0000;
				}
			}
			&.fa-instagram{
				&:hover{
					background: #e4405f;
				}
			}
		}
	}
}