//form starts here
.form--search{
	background: $custome-white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
	padding: 15px;
	margin: 20px 0;
	input::-webkit-calendar-picker-indicator {
		opacity: 0;
	 }
	>ul{
		display: flex;
		align-items: center;
		@include break-point(1023px){
			flex-wrap: wrap;
		}
		>li{
			width: 100%;
			margin-bottom: 10px;
		}
	}
}