//form starts here
.form--search{
	background: $custome-white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
	padding: 15px;
	margin: 20px 0;
	input::-webkit-calendar-picker-indicator {
		opacity: 0;
	 }
	ul{
		display: flex;
		align-items: center;
		@include break-point(1023px){
			flex-wrap: wrap;
		}
		li{
			margin-right: 10px;
			width: 100%;
			@include break-point(1299px){
				width: 80%;
			}
			@include break-point(1199px){
				width: 60%;
			}
			@include break-point(1023px){
				width: 48%;
				margin-bottom: 10px;
			}
			@include break-point(767px){
				width: 100%;
			}
			&:last-child{
				width: 50%;
				@include break-point(1023px){
					width: 100%;
				}
			}
		}
	}
	.button{
		@include break-point(1023px){
			width: 100%;
			margin-bottom: 10px;
		}
	}

}