//multiselectlist starts here
.multiselectlist{
	position: relative;
	.multiselectlist-wrap{
		&:after{
			@include fontawesome;
			right: 14px;
			top: 3px;
			content: "\f107";
			font-size: 25px;
			color: #8f9296;
			pointer-events: none;
		}
		.txt{ 
			height: 44px;
			border-radius: 4px;
			padding-top: 15px;
			font-size: 14px;
			color: $custome-black;
		}
		.form-control-placeholder {
			position: absolute;
			top: 0;
			padding: 10px 0 0 13px;
			transition: all 200ms;
			opacity: 0.5;
		}
	}
	.multiselectlist-content{
		background: $custome-white;
		position: absolute;
		width: 335px;
		right: 0;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
		display: none;
		z-index: 99;
		@include break-point(991px){
			position: fixed;
			width: 100%;
			height: 100vh;
			top: 0;
			z-index: 9999;
		}
		ul{
			display: flex;
			margin:30px 30px 40px 30px;
			@include break-point(991px){
				display: block;
			}
			li{
				margin-right: 60px;
				@include break-point(991px){
					margin-bottom: 30px;
					margin-right: 10px;
				}
			}
			h6{
				margin: 0 0 15px 0;
			}
		}
		.multiselectlist__btn{
			background: #f1f1f6;
			padding: 10px;
			text-align: right;
		}
	}
	.close{
		position: absolute;
		right: 10px;
		top: 5px;
		display: none;
		@include break-point(991px){
			display: block;
		}
		&:before{
			@include fontawesome;
			content: "\f00d";
			right: 0;
			-webkit-text-stroke: 6px $custome-white;
			font-size: 45px;
		}
	}
}
