//reward box  starts here
.reward-progress-wrap{
	.info{
		margin-bottom: 10px;
		display: block;
	}
}
.reward-progress{
	background: $custome-white;
	box-shadow: 6px 0px 13px -10px rgba(0,0,0,0.35);
	position: relative;
	margin-bottom: 20px;
	.progressbar {
		position: absolute;
		background-color:rgba(173,31,35,0.1);;
		height: 100%;
		bottom: 0;
		@include break-point(767px){
			width: 100%;
			top: 0;
		}
		&:before{
			@include fontawesome;
			content: "\f077";
			bottom:-7px;
			right:-7px;
			font-size:13px;
			color: $custome-black;
			@include break-point(767px){
				content: "\f053";
				right: 1px;
			}
		}
		span{
			position: absolute;
			right: -14px;
			bottom: 6px;
			background: #ad1f23;
			color: #fff;
			padding: 1px 2px;
			font-weight: 700;
			z-index: 999;
			@include break-point(767px){
				right: 12px;
				bottom: -9px;
			}
		}
	}
	ul{
		display: flex;
		justify-content: space-between;
		@include break-point(767px){
			flex-direction: column;
		}
		li{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 0;
			border-left: #ccc solid 1px;
			position: relative;
			@include break-point(767px){
				justify-content: left;
				border-left: none;
				border-bottom: #ccc solid 1px;
				padding-left: 20px;
			}
			&:first-child{
				border-left: none;
			}
		}
		.progress-icon{
			margin-right: 10px;
		}
		.progress-text{
			font-size: 14px;
			strong, samp{
				font-family: 'Montserrat SemiBold';
				display: block;
				position: absolute;
				top: 0;
				right: -20px;
				z-index: 9;
				@include break-point(767px){
					bottom: -10px;
					left: 2px;
					top:auto;
				}
			}
			samp {
				left: 0;
				@include break-point(767px){
					top: 0;
					left: 0;
				}
			}
		}
	}
}