//form starts here
.form--search{
	background: $custome-white;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 15px 0px;
	padding: 15px;
	margin: 20px 0;
	input::-webkit-calendar-picker-indicator {
		opacity: 0;
	 }
	ul{
		display: flex;
		align-items: center;
		@include break-point(1023px){
			flex-wrap: wrap;
		}
		li{
			margin-right: 10px;
			width: 100%;
			@include break-point(1299px){
				width: 80%;
			}
			@include break-point(1199px){
				width: 60%;
			}
			@include break-point(1023px){
				width: 48%;
				margin-bottom: 10px;
			}
			@include break-point(767px){
				width: 100%;
			}
			&:last-child{
				width: 50%;
				@include break-point(1023px){
					width: 100%;
					text-align: center;
				}
			}
		}
	}
	.button{
		@include break-point(1023px){
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.txt{
		height: 44px;
		border-radius: 4px;
		padding-top: 15px;
		font-size: 14px;
		color: $custome-black;
	}
	.txt-wrap{
		position: relative;
		&:after{
			@include fontawesome;
			right: 14px;
			top: 3px;
			content: "\f107";
			font-size: 25px;
			color: #8f9296;
			pointer-events: none;
		}
	}

	.form-control-placeholder {
		position: absolute;
		top: 0;
		padding: 10px 0 0 13px;
		transition: all 200ms;
		opacity: 0.5;
	}

		.txt:focus + .form-control-placeholder,
		.txt:valid + .form-control-placeholder {
		font-size: 10px;
		transform: translate3d(0, -30%, 0);
		opacity: 1;
		color: #666;
	}
	.txt:focus{
		border: #000 solid 1px;
		border-radius: 4px 4px 0px 0px;
		border-bottom-width: 2px;
	}

}