/*  ================================================================
 *  HELPER CLASS STARTS
 *  ================================================================ */

  /*  Fonts
 *  ------------------------------------------------------ */
@font-face {
	font-family: 'Montserrat Regular';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Regular.woff") format('woff');
}
	
	
	@font-face {
	font-family: 'Montserrat Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Italic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Thin';
	font-style: normal;
	font-weight: normal;
	src:url("../fonts/Montserrat-Thin.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Thin Italic';
	font-style: normal;
	font-weight: normal;
	src:url("../fonts/Montserrat-ThinItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-ExtraLight.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat ExtraLight Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-ExtraLightItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Light';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Light.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Light Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-LightItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Medium';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Medium.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-MediumItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat SemiBold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-SemiBold.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat SemiBold Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-SemiBoldItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Bold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Bold.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-BoldItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-ExtraBold.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat ExtraBold Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-ExtraBoldItalic.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Black';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-Black.woff") format('woff');
	}
	
	
	@font-face {
	font-family: 'Montserrat Black Italic';
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/Montserrat-BlackItalic.woff") format('woff');
	}

	@font-face {
		font-family: OpenSans-Bold;
		src: url( "../fonts/OpenSans-Bold.ttf");
	}
	@font-face {
		font-family: OpenSans-BoldItalic;
		src: url( "../fonts/OpenSans-BoldItalic.ttf");
	}
	@font-face {
		font-family: OpenSans-Regular;
		src: url( "../fonts/OpenSans-Regular.ttf");
	}
	@font-face {
		font-family: OpenSans-Light;
		src: url( "../fonts/OpenSans-Light.ttf");
	}
	@font-face {
		font-family: OpenSans-Semibold;
		src: url( "../fonts/OpenSans-Semibold.ttf");
	}
 
 
 /*  Global Styles
 *  ------------------------------------------------------ */
 htm, body{
	margin:0;
	padding:0;
	background: #f8f8f8;
	font-size:$primary-fontsize;
	color:$custome-black;
	font-family:"Montserrat Regular", Helvetica, Arial, sans-serif;
	transition: all 0.11s ease 0s;
	 -webkit-overflow-scrolling : touch !important;
    overflow: auto !important;
	height: 100% !important;
}
	ul, li{
	margin:0;
	padding:0;
	list-style:none;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	font-weight:700;
}

a{
	transition: all 0.3s ease 0s;
	color:#000;
}

a:hover{
	
}

*:focus{
	outline:none;
}

i{
	position:relative;
	font-style:normal;
}

::placeholder {
    color: #bbb; 
} 
  
::-ms-input-placeholder {
    color: #bbb; 
} 
  
::-ms-input-placeholder {
    color: #bbb; 
}


 /*  Button Styles
 *  ------------------------------------------------------ */
 
.button{
	background: $custome-secondary;
	padding:8px 20px;
	border:none;
	color:$custome-white;
	font-size: 13px;
	text-transform:uppercase;
	transition: all 0.2s ease 0s;
	border:none;
	border-radius: 2px;
	position:relative;
	font-family: OpenSans-Regular; 
	border: $custome-secondary solid 1px;
	&:hover{
		background: $custome-white;
		color: $custome-secondary; 
	}
		&.button--black{
			background: $custome-black;
			padding: 5px 20px;
			border: $custome-black solid 1px;
			&:hover{
				color: $custome-white;
			}
		}
		&.button--black-outline{
			background: $custome-white;
			border: $custome-black solid 1px;
			padding:4px 16px;
			color: $custome-black;

		}
		&.button-outline{
			background: $custome-white;
			border: $custome-secondary solid 1px;
			padding:4px 16px;
			color: $custome-secondary;
			padding:8px 20px;
		}
	}
	




 /*  Form Styles
 *  ------------------------------------------------------ */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: none;
	background-color:#fff !important;
}

.txt, .select, input[type=text], input[type="date"], input[type="time"], input[type="password"]{
	border:none;
	border:#757575 solid 1px;
	height:30px;
	padding:5px 10px;
	color:$custome-primary;
	width:100%;
	font-size:$primary-fontsize;
	border-radius:0;
}

input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity:0;
}

.date-wrap{
	position:relative;
	&:before{
		@include fontawesome;
		content: "\f073";
		color:$custome-primary;
		right:10px;
		top:4px;
		pointer-events: none;
	}
}

.select-wrap{
	position:relative;
	&:before{
		@include fontawesome;
		content: "\f107";
		right:10px;
		top:5px;
		color:$custome-primary;
		font-weight:700;
		font-size:13px;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid $custome-black;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00d";
    font-family: 'FontAwesome';
	color: $custome-black;
	-webkit-text-stroke: 1px $custome-white;
	font-size: 19px;
	line-height: 12px;
	padding-left: 0;
	border-width: 2px;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f111";
    font-family: 'FontAwesome';
	color: $custome-black;
    font-size: 12px;
	line-height: 12px;
	border-width: 2px;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; 
}


/*  CLEARFIX
 *  ------------------------------------------------------ */
 
   .clearfix            {clear:both; display:block;}
	 
	 /*  General Styles
 *  ------------------------------------------------------ */
 .container-fluid{
	 padding: 0 15px;
 }
 .wrapper{
		background: #f5f5f5;
	}
 	.sidebar__toggle{
		margin: 0;
    cursor: pointer;
    width: 40px;
    padding: 9px 14px 6px;
    display: none;
    flex-direction: column;
	align-items: flex-end;
	@include break-point(991px){
		display: flex;
	}
	}
	.bar1, .bar2, .bar3, .bar4 {
		width: 20px;
		height: 3px;
		background: $custome-white;
		margin: 0 0 3px;
		transition: 0.4s;
		display:block;
	}
	.open .bar1 {
		-webkit-transform: rotate(-45deg) translate(0px, 5px);
		transform: rotate(-45deg) translate(0px, 5px);
	  }
	  
	  .open .bar2 {opacity: 0;}
	  
	  .open .bar3 {
		-webkit-transform: rotate(45deg) translate(-4px, -8px);
		transform: rotate(45deg) translate(-4px, -8px);
	  }
 
.main{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-left: 195px;
	@include break-point(991px){
		padding-left: 0;
	}
}
#page-content {
	margin-left: 0;
	margin-top:61px;
	width: 100%;
	height: auto;
	padding-left: 35px;
	@include break-point(991px){
		margin-top:61px;
		padding:0;
	}
}
.spotlight{
	margin-bottom: 20px;
	img{
		width: 100%;
	}
}

.title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	h1{
		font-size: 25px;
		color: $custome-primary;
		font-weight: normal;
	}
}




