// colors

$custome-white: #fff;
$custome-black: #000;
$custome-primary: #333;
$custome-secondary: #ad1f23;

$main-grey: #afafaf;
$main-blue: #00AAAD;
$primary-blue:#3071b5;
$light-grey: #ddd;


//font size

$primary-fontsize :13px;
